<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>1078221558246-lr568tkkvem4scg07kkeedvt0b3k78ec.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1078221558246-lr568tkkvem4scg07kkeedvt0b3k78ec</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-5c1751rst33iqoa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-8-emm</string>
		<string>dbapi-2</string>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>clarendon_blk_bt-black.ttf</string>
		<string>clarendon_blk_bt-regular.ttf</string>
		<string>Montserrat-Bold.otf</string>
	</array>
</dict>
</plist>
